@use "../abstracts" as *;
@use "../base" as *;

// Import Math module
@use "sass:math";

.card {
  // Apply flex-center from _extends.scss partial
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 450px;
  color: $blue-secondary;
  border: $base-border-thickness solid $green-success;
  margin: $base-margin;
  padding: $base-padding;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  transition: transform 0.25s ease-in;
  &:hover {
    border: $base-border-thickness solid $blue-primary;
    transform: scale(1.02);
    transition: transform 0.5s ease-out;
  }

  // Here, & means .card
  &__title {
    color: $pink-sunset;
  }

  // Here, & means .card
  &__image {
    width: 95%;
    // math.div(amount, factor)
    border-radius: math.div($base-border-radius, 2);
  }

  // Here, & means .card
  &__comment {
    font-size: $font-size-lg;
    text-align: center;

    // Here, & means .card__comment
    &--link {
      text-decoration: none;
    }
  }
}
