// Old imports :
// @use '../abstracts/colors' as *;
// @use '../abstracts/variables' as *;

// New import
@use '../abstracts' as *;

.card {
  color: $blue-secondary;
  border-color: $green-success;
  border-style: solid;
  margin: $base-margin;
  padding: $base-padding;
  border-radius: $base-border-radius;
  border-width: $base-border-thickness;
}
