// Adding a cool google font
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Spartan:wght@300;500;700&display=swap");

// Font sizes
$main-font-size: 1rem;
// Using calc() function to do calculations
$font-size-sm: calc($main-font-size * 0.75);
$font-size-lg: calc($main-font-size * 1.25);
