// Main colors
$blue-primary: #326dee;
$blue-secondary: #7876df;

// Colors Utilities
$light-background: #dbdbdb;
$green-success: #1ac888;
$red-error: #d32752;
$pink-sunset: #c77585;
$yellow-info: #f6c31c;
